---
layout: default
title: MagMax Site
---

{% assign print_ad = false %}

<div id="home">
  <ul class="posts">
    {% for post in paginator.posts %}
      <li>
	<div class="post">
	  <div class="post-header">
	    <span class="post-date">{{ post.date | date_to_string }}</span>
	    <span class="post-title"><a href="{{ post.url }}" class="post-title">{{ post.title }}</a></span>
	  </div>
	  <span class="post-time">{{ post.content | number_of_words }} words /
	    {{ post.content | number_of_words | wpm }} mins</span>
	  <div class="summary">
	    {{ post.content | html2text }}
	  </div>
	  <div class="post-link">
	    <a href="{{ post.url }}" class="post-link">Read more &raquo;</a>
	  </div>
	</div>

	{% if print_ad %}
	<div class="ads hidden-phone">
	  {% include google-ads-horizontal.html %}
		{% assign print_ad = false %}
	</div>
	{% else %}
		{% assign print_ad = true %}
	{% endif %}
  
      </li>
    {% endfor %}
  </ul>

  {% include blog_navigation.html %}

</div>
